.title {
  margin-left: 1vw;
  font-size: 3rem;
}

.input {
  padding: 10px 20px 10px 20px;
  border: none;
  margin-bottom: 2vh;
  border-bottom: 2px solid #a67a4b;
  outline: none;
  font-size: 1rem;
}

.button {
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  outline: none;
  border: none;
  background-color: #a67a4b;
  color: white;
  font-size: 1.2rem;
  font-family: "Athiti", sans-serif;
  cursor: pointer;
}

.registerButton {
  outline: none;
  border: none;
  background-color: transparent;
  color: #a67a4b;
  font-size: 1.2rem;
  font-family: "Athiti", sans-serif;
  cursor: pointer;
}
